* {
  color: black;
}

header {
  height: 31px;
  background-color: brown;
  border-bottom: 3px solid burlywood;
  padding-left: 30px;
}

footer {
  background-color: brown;
  border-top: 3px solid burlywood;
}

footer h5 {
  margin: 5px;
}

#containel {
  overflow: hidden;
}

.header_l {
  width: auto;
  height: 30px;
  padding: 0px 10px 0px 10px; 
  background-color: aliceblue;
  text-align: center;
  border-right: 1px solid brown;
  float: left;
}

.header_r {
  width: auto;
  height: 30px;
  padding: 0px 10px 0px 10px; 
  background-color: aliceblue;
  border-right: 1px solid brown;
  text-align: center;
  float: right;
}

.header_l:hover {
  background-color: burlywood;
}

.header_r:hover {
  background-color: burlywood;
}

.index_item_list {
  width: 200px;
  height: 300px;
  background-color: blanchedalmond;
  margin: 10px;
  padding: 5px;
  border: 1px solid;
  float: left;
  cursor: pointer;
}

.index_item_list img {
  width: 100%;
  height: 200px;
}
.index_item_list img:hover {
  border: 1px solid;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.index_item_list p {
  text-align: center;
}

.detail_item_list {
  width: 400px;
  height: 500px;
  background-color: blanchedalmond;
  margin: 10px;
  padding: 5px;
  border: 1px solid;
  cursor: pointer;
  position: relative;
}

.detail_item_list img {
  width: 100%;
  height: 350px;
}

/* .detail_item_list img:hover {
  border: 1px solid;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
} */

.detail_item_list p {
  text-align: center;
}

.detail_item_list button {
  width: 50%;
  height: 30px;
  float: right;
}